/* Adicionar aqui toda a estilização criada para sua aplicação. */

body{
    margin: 0;
    font-family: sans-serif;
}

:root {
    --azul: #32b9cd;
    --amarela: #e3b062;
    --rosa: #ff637b;
}

.header {
    background-color: black;
    border-bottom:  3px solid var(--azul);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo {
    color: var(--azul);
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarela);
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--amarela);
    text-decoration: none;
}

.agora {
    font-weight: bolder;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;
}

.banner .container span{
    font-weight: bolder;
}

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color:#e4005A;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: var(--azul);
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

.footer h4 {
    margin-bottom: 0;
}

.login .banner{
    height: 550px;
    width: 100%;
}

.login .banner .container .card-login {
    height: 45%;
    width: 42%;
    border-radius: 10px;
    background-color: #dcdcdc;
    margin-left: 7%;
}

.login .banner .container .card h2{
    color: var(--rosa);
    font-size: 27px;
    padding: 0 100px;
    margin-left: 18%;
    margin-bottom: 5px;
}

.formulario .campo input{
    line-height: 35px;
    width: 80%;
    border:  2px solid var(--azul);
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 12px;
    text-align: center;
}

.formulario .campo span{
    color: var(--rosa);
    margin-left: 10%;
    font-size: 13px;
}

.formulario .botao{
    line-height: 23px;
    margin-left: 40%;
    border-radius: 5px;
    border:  2px solid #e4005A;
    color: white;
    background-color: #e4005A;
    width: 20%;
    font-size: 17px;
    font-weight: bold;
}

.login .banner .container .card-cadastro {
    height: 80%;
    width: 42%;
    border-radius: 10px;
    background-color: #dcdcdc;
    margin-left: 1%;
}

.card-cadastro .formulario .campo input{
    line-height: 32px;
    width: 77%;
    border:  2px solid var(--azul);
    border-radius: 10px;
    margin-left: 12%;
    margin-bottom: 12px;
    text-align: center;
}

.card-cadastro .formulario .campo span{
    color: var(--rosa);
    margin-left: 12%;
    font-size: 13px;
}

.card-cadastro .formulario .botao{
    line-height: 20px;
    margin-left: 40%;
    margin-top: 1%;
    border-radius: 5px;
    border:  2px solid #e4005A;
    color: white;
    background-color: #e4005A;
    width: 18%;
    font-size: 14px;
    font-weight: bold;
}